DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxx-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxx.REGION.aws.neon.tech/neondb?sslmode=require"
DEV_GUILD_ID=
NEON_API_KEY=
